server:
  port: 8081
  servlet:
    context-path: /api/users

spring:
  application:
    name: user-service
  
  datasource:
    url: jdbc:h2:mem:userdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: foodingo-2026-secret-key-change-in-production
  expiration: 86400000 # 24 hours