server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=2
            - name: JwtAuthenticationFilter
        
        - id: restaurant-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/restaurants/**
          filters:
            - StripPrefix=2
            - name: JwtAuthenticationFilter
        
        - id: order-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=2
            - name: JwtAuthenticationFilter

jwt:
  secret: foodingo-microservices-2026-secret-key-for-jwt-tokens

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
  endpoint:
    gateway:
      enabled: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.foodingo.gateway: DEBUG
